.progress-bar-container{
    background: color #00bfff;;
    border-radius:10px ;
    width:100% ;
    height:20px;
    position: relative;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    border-radius: 10px;
    background-image: url('img/boat-animate-bar-progress.gif'); /* Chemin vers votre image d'eau animée */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir la barre */
    width: 0%; /* La largeur sera mise à jour par JavaScript */
    transition: width 0.3s ease; /* Transition pour l'animation de largeur */
}

#boat {
    position: absolute;
    top: -25px;
    left: 0;
    height: 50px;
    transform: translateX(-50%);
    transition: left 0.3s ease;
}

#progress-bar{
    height: 100%;
    width: 0%;
    border-radius: 10px;
    transition: width 0.3s ease, background-color 0.3s ease;
}
